---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <footer>
        <p>© 2025 Santiago Urbina</p>
    </footer>
</Layout>

<style>
    footer {
        background-color: #0F0F0F;
        color: white;
        padding: 2rem;
        text-align: center;
        margin-top: 5rem;
    }
    p {
        font-family: clash;
    }
</style>