---
// filepath: /c:/Users/Santiago/Documents/Dev/portfolio/src/layouts/Layout.astro
import { ClientRouter } from "astro:transitions";
const { title } = Astro.props;
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ClientRouter />
	</head>
	<body class="layout">
		<slot />
	</body>
</html>

<style>
	html{
		scroll-behavior: smooth;
	}
	.layout {
		margin: 0;
		width: 100%;
		height: 100%;
		color: white;
		background-color: #0F0F0F;
		font-family: clash;
	}
	@font-face {
		font-family: 'clash';
		src: url(/fonts/ClashDisplay-Regular.woff2);
	}
	@font-face {
		font-family: clashBold;
		src: url(../../public/fonts/ClashDisplay-Bold.woff2);
	}
	@font-face {
		font-family: cascadia;
		src: url(../../public/fonts/Cascadia.ttf);
	}
	@font-face{
		font-family: pixelFont;
		src: url(../../public/fonts/PPMondwest-Regular.otf);
        font-weight: 200;
	}
</style>
