---
const { title } = Astro.props;
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="layoutInside">
		<slot />
	</body>
</html>

<style>
	.layoutInside {
		margin: 0;
        color: white;
		background-color: #b1b1b1;
		font-family: helvetica;
        padding: 3rem;
	}
	@font-face {
		font-family: helvetica;
		src: url(../../public/fonts/Helvetica.ttf);
	}
	@font-face {
		font-family: helvetica-bold;
		src: url(../../public/fonts/Helvetica-Bold.ttf);
	}
	@font-face {
		font-family: cascadia;
		src: url(../../public/fonts/Cascadia.ttf);
	}
	@font-face{
		font-family: pixelFont;
		src: url(../../public/fonts/PPMondwest-Regular.otf);
	}
</style>
